/*
Index
======
1. GENERIC STYLE
1.1 TABLE
2. TYPO
2.1 HEADINGS
2.2 TEXT
3. HEADER
4. VOLET
5. TOOLBAR
5.1 NAVIGATION ELEMENTS
5.2 RELATED LINKS
6. PAGINATION SLIDE LINEAR LAYOUT
7. SLIDES
7.1 COLUMN
7.2 FREAKY DISC
8. TOOL BLOCK (SUMMARY & CONFIG)
8.1 TOOLS ELEMENTS
9. CSS TRANSITIONS
10. PRISM
11. MQs
*/

@import "fonts";

/**
* -------------------------
* @section 1. GENERIC STYLE
* -------------------------
*/
#screen {
  height: 100vh;
}

body {
  font-family: "museo-slab-1", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  background: #efeee3;
  /*background-color: #032c36;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAAOElEQVR42mNgYGBgAmJ+IBYBYm4GAkAIiKWQMBc+xRJoigXxKRZGU4zXKUxQ00SBmI9h0IFhEaQAj8ADZ2F3CVYAAAAASUVORK5CYII="), radial-gradient(ellipse at center center , #1b4049 0%, #032c36 100%);
  background-repeat: repeat, no-repeat;*/
  color: #032c36;
  text-align: left;
}

.obs {
  mix-blend-mode: darken;
}

a {
  color: #c42419;
}

a:hover,
a:focus {
  color: #971c13;
  text-decoration: none;
}

.btn:focus,
a:focus,
select:focus,
button:focus,
.btn-close:hover,
.btn-close:focus {
  box-shadow: 0 0 0 .25em #971c13 !important;
  outline: none !important;
}

button {
  background: none;
  border: 0;
}

.slide button:not([role]) {
  background: #c42419;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .2);
  color: #efeee3;
  font-size: 90%;
  margin-bottom: 2px;
  text-shadow:
    1px 1px 1px rgba(0, 0, 0, .2),
    2px 2px 2px rgba(0, 0, 0, .2);
  transition: all .6s ease-in;

  span[aria-hidden="true"] {
    color: inherit;
    line-height: 1;
  }
}

.slide button:hover,
.slide button:focus {
  color: #fff;
  box-shadow: inset 999px 0 0 0 rgba(0, 0, 0, .2);
  transition: all .3s ease-out;
}

figcaption {
  font-size: 80%;
}

code,
kbd {
  border: 1px solid;
  border-radius: 2px;
  box-sizing: border-box;
  color: #c42419;
  font: 300 1em/1.1 "museo-slab-1", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  margin-top: 0;
  padding: 0 .2em;
  white-space: nowrap;
}

h3 code,
h3 kbd {
  background: inherit;
}

h3 span[aria-hidden] {
  font-style: normal;
}

.slide h2 small {
  display: inline;
  font: italic 300 .3em 'museo-slab-1';
}

pre code {
  border: 0;
  white-space: pre-wrap;
}

pre code span { line-height: 1; }

b,
strong {
  font-weight: 500;
}

blockquote {
  font-weight: 300;
  position: relative;
  quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D";
  z-index: 1;
}

blockquote::before {
  color: #c42419;
  content: open-quote;
  font: 300 3em / .2em "ubuntu-1", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  left: -.88em;
  position: absolute;
  top: -.1em;
  z-index: -1;
}

blockquote p {
  font-style: italic;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.25;
}

blockquote p::after {
  color: #c42419;
  content: close-quote;
  font: 300 1em "ubuntu-1", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

blockquote cite {
  display: block;
  font-style: normal;
  font-size: .75em;
  text-align: right;
}

#wrapper {
  height: calc(100vh - 2rem);
  overflow-x: hidden;
  padding-bottom: 3rem;
  top: 2rem;
}

.modeplan #wrapper {
  height: 78vh;
  margin: 10vh 8vw;
  overflow-x: hidden;
  padding: 0;
  width: 84vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  .slide {
    scroll-snap-align: start;
  }
}

.modeplan .tool-bar,
.modeplan .main-header {
  height: 10vh;
}

/**
* -------------------------
* @section 2. TYPO
* -------------------------
*/
/** @subsection 2.1 HEADINGS **/
h1, h2, h3, h4, h5, h6 {
  color: #032c36;
  font-feature-settings: "liga", "dlig", "calt", "ordn", "c2sc", "frac", "hist";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0 0 .2em;
}

h2 {
  font: 300 2.4em/1.1em "ubuntu-1", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

h3 {
  font: 500 italic 1.4em "museo-slab-1", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 i,
h3 i,
h2 em,
h3 em {
  font-style: normal;
}

h4,
h5,
h6 {
  margin: .3em;
}

/** @subsection 2.2 TEXT **/

.slide p,
.slide ul,
.slide ol,
.slide dl,
.slide blockquote {
  font-size: .75em;
  font-weight: 300;
  margin: .2em 0 .5em 0;
  line-height: 1.4;
}

.slide :last-child:not(.table-ffoodd) {
  margin-bottom: 0;
}

.slide blockquote {
  font-size: 1.2em;
  margin: 2em 0 2em 2em;
}

.slide blockquote h3 {
  font-size: .75em;
  font-style: normal;
}

.slide blockquote p {
  font-size: .86em;
}

.slide ul {
  list-style: none;
}

.slide ul li::before {
  content: "‒ ";
  color: #c42419;
}

.slide ul ul,
.slide ul ol {
  font-size: .75em;
}

.slide small,
.slide .small {
  display: block;
  font-size: .6em;
  font-weight: 300;
  line-height: 1.4;
}

.slide .small * {
  font-size: 1em;
  font-weight: 300;
}

.slide dt {
  font-weight: 700;
}

.slide dd {
  font-size: .75em;
  margin-bottom: .75em;
}

.slide abbr {
  font-variant: small-caps;
}

.slide h2 abbr {
  font: 500 italic 1em "museo-slab-1", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-variant: small-caps;
}

.slide span[aria-hidden="true"] {
  color: #c42419;
}


/**
* -------------------------
* @section 3. HEADER
* -------------------------
*/

.main-header a,
.main-header h1 {
  color: #032c36;
  font-family: "ubuntu-1", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 3vh;
  font-weight: 300;
  font-feature-settings: "liga", "dlig", "c2sc";
  margin: .5em 0 .25em;
  opacity: .66;
  text-rendering: optimizelegibility;
  text-shadow: 1px 1px 0 #fff;
}

.main-header a {
  display: inline-block;
  text-decoration: none;
}

.main-header h1 {
  font-family: "museo-slab-1", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}


/**
* -------------------------
* @section 4. VOLET
* -------------------------
*/

#volet {
  background: #fff;
}

/**
* -------------------------
* @section 5. TOOLBAR
* -------------------------
*/

/** @subsection 5.1 NAVIGATION ELEMENTS **/

.select-goto {
  border: 0;
  border-radius: 50px;
  color: #032c36;
  display: inline-block;
  float: none;
  margin: 0 1em 0 0;
  padding: .46em .5em;
  transition: all .3s ease-in;
  vertical-align: middle;
}

.slide-counter {
  position: static;
}

#cpt > div {
  background: linear-gradient(105deg, #fff 0%, #fff 50%, #032c36 50%, #032c36 100%);
  border-radius: 50px;
  height: auto;
  padding: .46em .5em;
  width: auto;
}

.slide-counter-current {
  color: #c42419;
}

.btn,
.related a,
.slide-counter > div {
  border-radius: 50%;
  color: #032c36;
  filter: drop-shadow(1px 1px 0 #fff);
  display: table-cell;
  height: 2rem;
  opacity: .66;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
  width: 2rem;
}

.btn:hover,
.btn:focus,
.related a:hover,
.related a:focus,
.select-goto:hover,
.select-goto:focus {
  box-shadow: none !important;
  opacity: 1;
}

.slide-counter > div {
  background: #032c36;
  color: #efeee3;
}

.select-goto:hover,
.select-goto:focus {
  background: #fff;
}

.btn[disabled="disabled"] {
  opacity: .66;
}

.btn[disabled="disabled"]:hover,
.btn[disabled="disabled"]:focus {
  box-shadow: none;
  cursor: default;
}

/*
* @bug Les button et type=button ont des bordures (voir dans base.css button::-moz-focus-inner,)
* @affected Firefox
* @see http://davidwalsh.name/firefox-buttons
*/
.btn::-moz-focus-inner,
.btn-close::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: none;
  padding: 0;
}

/** @subsection 5.2 RELATED LINKS **/
#wrappernav {
  overflow: hidden;
}

#navbar,
.related {
  height: auto;
  margin: .5em 0;
  text-align: center;
}

#navbar li,
.related li {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

#navbar li + li,
.related li + li {
  margin-left: .5em;
}

li.tool-bar-elt,
div.tool-bar-elt {
  height: auto;
  overflow: visible;
}

button.tool-bar-elt {
  height: 2rem;
  overflow: visible;
}

/**
* -------------------------
* @section 6. PAGINATION SLIDE LINEAR LAYOUT
* -------------------------
*/

.index {
  padding-top: 15px;
  border-radius: 0;
}

.index span {
  padding: 0;
  color: #fff;
  background-color: #032c36;
}

/**
* -------------------------
* @section 7. SLIDES
* -------------------------
*/
.modeplan #wrapper,
body > :not(.modeplan) .slide {
  background: #efeee3;
  box-sizing: border-box;
  max-height: calc(100vh - 5rem);
}


/** @subsection 7.1 COLUMN **/

/** @subsection 7.2 FREAKY DISC **/

.list-disc {
  padding: 0;
}

.list-disc li {
  list-style: none;
}

button.disc {
  display: block;
  width: 100%;
  border: 0;
  padding-top: 85px;
}

button.disc1 {
  background: transparent url("../img/disc_1_gray.png") center top no-repeat;
}

button.disc1:hover,
button.disc1:focus {
  background: transparent url("../img/disc_1.png") center top no-repeat;
}

/**
* -------------------------
* @section 8. TOOL BLOCK (SUMMARY & CONFIG)
* -------------------------
*/

.tool-block {
  background-color: #b31d14;
  background-image: linear-gradient(to bottom, #c42419 0%, #a1160f 100%);
  border-top: 1px solid #d7665e;
  bottom: 0;
  color: #efeee3;
  height: 100vh !important;
  outline: 1px solid #000;
  padding: 1em;
  position: absolute;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2),
  2px 2px 2px rgba(0, 0, 0, .2);
  top: 0;
  transition: outline .3s ease-in;
  width: 15vw;
}

.tool-block-title {
  color: #efeee3;
  font-family: "ubuntu-1", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2em;
  position: relative;
}

.tool-block ol {
  padding-left: 1em;
}

.tool-block li,
.tool-block label,
.tool-block select {
  color: #efeee3;
  font-size: .75em;
  font-weight: 500;
}

.input-setting,
.label-setting,
.label-setting img {
  display: inline-block;
  margin-top: .5em;
  vertical-align: middle;
}

.input-setting {
  position: static;
}

.label-setting {
  line-height: 1;
  padding-left: .5em;
}

.tool-block label img {
  margin: -2px .25em 0 0;
}

.tool-block select {
  color: #01171d;
  margin-top: .5em;
}

.tool-block button {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2),
  2px 2px 2px rgba(0, 0, 0, .2);
  transition: all .3s ease-in;
  vertical-align: top;
}

.tool-block button:hover,
.tool-block button:focus {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5),
  2px 2px 2px rgba(0, 0, 0, .5);
  transition: all .3s ease-out;
}

/** @subsection 8.1 TOOLS ELEMENTS **/

.tool-block-settings fieldset {
  border: 0;
  font-size: 1em;
  margin: 0;
  padding: 0 0 1em;
}

.tool-block-settings legend {
  font-family: "museo-slab-1", "DejaVu Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2em;
  font-weight: 500;
  margin: .3em 0 .25em;
}

.help {
  border-radius: .25rem;
  background: #efeee3;
  color: #032c36;
  font-size: .75rem;
  font-weight: 300;
  text-shadow: none;
}

.btn-group-settings {
  padding: 1em 0;
  text-align: left;
}

.btn-setting {
  background-color: #032c36;
  background-image: linear-gradient(to bottom, #9fb8d5 0%, #02181e 100%);
  background-size: auto 300%;
  background-position: 0 50%;
  border: 1px solid #000;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .25);
  color: #fff !important;
  font-weight: 500;
  padding: .66em;
  text-decoration: none !important;
  text-shadow: 1px 1px rgba(0, 0, 0, .25);
  transition: all .3s linear;
}

.btn-setting:hover,
.btn-setting:focus {
  background-color: #02181e;
  background-position: 0 100%;
}

.btn-setting:active {
  background-color: #04404e;
  background-position: 0 0;
}

.btn-close {
  border: 0;
  border-radius: 50%;
  height: 1rem;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 1rem;
}

.btn-close img {
  display: block;
}

/**
* -------------------------
* @section 9. CSS TRANSITIONS
* -------------------------
*/

/** @subsection 9.1 KEYFRAMES **/
@keyframes move-up {
  from {
    transform: translateY( 100% ) translateZ( 0 );
    opacity: 0;
  }
}

[data-effect="ffoodd"] #wrapper {
  animation: move-up .8s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

/** @subsection 9.2 SLIDING **/
@media screen {
  [data-effect="ffoodd"] .slide {
    display: flex !important;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    top: 0 !important;
    visibility: hidden;
    transform-style: preserve-3d;
    transition: transform-origin .8s cubic-bezier(.26, .86, .44, .985),
    transform .8s cubic-bezier(.26, .86, .44, .985),
    visibility .8s cubic-bezier(.26, .86, .44, .985),
    opacity .8s cubic-bezier(.26, .86, .44, .985);
  }

  [data-effect="ffoodd"] .slide[style*="display: none"] {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translate3d(-150%, 0, 0);
    visibility: hidden;
  }

  [data-effect="ffoodd"] .slide[style*="display: block"] {
    opacity: 1          !important;
    position: relative  !important;
    visibility: visible !important;
  }

  [data-effect="ffoodd"] .slide[style*="display: block"] ~ .slide[style*="display: none"] {
    transform: translate3d(150%, 0, 0);
  }
}
/* fin des transitions made by ffoodd */


/**
* -------------------------
* @section 10. PRISM
* -------------------------
*/
code[class*="language-"],pre[class*="language-"]{color:#032c36;direction:ltr;font-family:"Consolas","Monaco","Andale Mono",monospace;font-size:1rem;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;-moz-tab-size:2;tab-size:2;text-align:left;text-shadow:0 1px white;white-space:pre;word-spacing:normal}pre[class*="language-"]{margin:0;overflow:auto;padding:0}:not(pre)>code[class*="language-"]{padding:.1em;border-radius:.3em}.token.comment,.token.prolog,.token.doctype,.token.cdata{color:slategray}.token.punctuation{color:#676767}.token.property,.token.tag,.token.boolean,.token.number,.token.constant,.token.symbol{color:#905}.token.selector,.token.attr-name,.token.string,.token.builtin{color:#52770a}.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string,.token.variable{color:#896541}.token.atrule,.token.attr-value,.token.keyword{color:#02749f}.token.regex,.token.important{color:#d50900}.token.important{font-weight:bold}.token.entity{cursor:help}.token a{color:inherit}.namespace{opacity:.7}


/**
* -------------------------
* @section 11. MQs
* -------------------------
*/
@media screen and (max-width: 24em) {
  #toggle-nav,
  #navbar li:nth-child(4) {
    display: none;
  }
}


@media screen and (max-width: 48em) {
  .main-header {
    padding: 0 .5em .5em;
  }

  .main-header a,
  .main-header h1 {
    font-size: 80%;
    max-width: calc(100% - 5em);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #wrapper {
    font-size: 100%;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1em;
  }
}


@media screen and (max-width: 48em)
and (min-width:24em) {
  .list-disc li {
    float: left;
    width: 50%;
  }
}


@media screen and (min-width: 48em) {
  .btn,
  .btn:hover,
  .btn:focus,
  button,
  button:hover,
  button:focus,
  input,
  input:hover,
  input:focus {
    transition: all .3s ease-in;
  }

  .table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .col-50 {
    display: table-cell;
    width: 50%;
  }

  .col-33 {
    display: table-cell;
    width: calc( 100% / 3 );
  }

  .col-66 {
    display: table-cell;
    width: calc( (100% / 3) * 2 );
  }

  .col-t-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .v-top {
    vertical-align: top;
  }

  .v-middle {
    vertical-align: middle;
  }

  .mt-auto {
    margin-top: auto !important;
  }

  .ml-auto {
    margin-left: auto !important;
  }

  .col-left {
    float: left;
    width: 50%;
    padding: 0 5% 0 0;
  }

  .col-right {
    float: right;
    width: 50%;
    padding: 0 0 0 5%;
  }

  .list-disc li {
    float: left;
    width: 25%;
  }

  .main-header {
    margin: 0;
    padding: 0 calc(9vw + .5em);
  }

  #navbar,
  .related {
    margin: .25em 0;
  }

  #wrappernav {
    padding: 0 calc(9vw + .5em) 2vh;
    overflow: hidden;
  }

  #wrapper {
    font-size: 2.25rem;
    height: 86vh;
    margin: 0;
    overflow-x: hidden;
    padding: 0 4vw;
    top: auto;
  }

  .modeplan #wrapper,
  body > :not(.modeplan) .slide {
    border-radius: .4rem;
  }

  .slide,
  body > :not(.modeplan) .slide {
    margin: .5rem;
    max-height: 82vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1em;
    top: 2vh;
    width: 100%;

    &.full {
      height: 82vh;
    }
  }

  .modeplan .slide.full {
    height: auto;
    min-height: 82vh;
  }
}
