body {
  background-image: url('../accesslide/img/drupalcon-bg-bottom.png'), linear-gradient(to right, rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('../accesslide/img/drupalcon-bg.jpg') ;
  background-size: 50%, 100%, contain;
  background-repeat: repeat-x, repeat, repeat;
  background-position: bottom, center, center;
}

#main > .slide {
  background: rgba(255,255,255,0.6);
}
